# Terraform
.terraform/
.terraform.*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
terraform.tfstate*
*.tfvars.local

# Plans
*.tfplan
plans/
environments/

# Local env
.env
.env.*

# Editor/OS
.DS_Store
.vscode/
.idea/

# Generated certs/keys/configs
*.conf
*.png
*.crt
*.key
*.pem

# Docker
**/.docker/**

# Logs
*.log
logs/
